# PostgreSQL
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=db
DB_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Backend
PORT=3000

# Frontend (para el CORS del backend)
FRONTEND_URL=http://localhost:5173
