# PostgreSQL
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# Frontend (para el CORS)
FRONTEND_URL=